.about {
        img {
            height: 220px;
            width: 98%;
            object-fit: cover;
            border-radius: 25px;
            margin: 20px;
            position: relative;
            filter: brightness(0.5);
        }
    }
