.footer {
    background-color: black;
    width: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    p {
        color : white;
        margin-top: 10px;
        font-family: Montserrat;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 50px;
        p {
            width: 150px;
        }
    }
}