@use "./sass/header.scss";
@use "./sass/footer.scss";
@use "./sass/home.scss";
@use "./sass/error.scss";
@use "./sass/about.scss";
@use "./sass/thumb.scss";
@use "./sass/collapse.scss";
@use "./sass/card.scss";

*{
    margin: auto;
    padding: 0;
    // box-sizing: border-box;
    justify-content: center;
    max-width: 1440px;
}